<html>
<head>
<!--	<title>Roundabout</title>-->
<!--	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>-->
<!--	<script type="text/javascript" src="js/roundabout.js"></script>-->
<!--	<script type="text/javascript" src="js/scripts.js"></script>-->
<!--	<link rel="stylesheet" type="text/css" href="css/roundabout.css"/>-->
<!--	<link rel="stylesheet" type="text/css" href="css/style.css">-->
<!--	<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--</head>-->
<!--<body>-->
	<div class="content">

		<h1 class="title">ROUNDABOUT</h1>
 <

		<hr/>

		<div class="slider">
	
				<slider>
				  <slide><p>src="http://assets.kraftfoods.com/recipe_images/opendeploy/173356_640x428.jpg" </p></slide><img 
				
			
				  <img src ="https://cdn.shopify.com/s/files/1/0226/1641/articles/Della-Terra-Samosas_84569635.jpg?v=1474338415"></slider>
				
				
			
		
			
		</div>

	
		<!--<code>$('.slider').carousel({dots: true, infinite: true, speed: 200});</code>-->


	</div>
</body>
</html>